# Игнорируем виртуальное окружение
.venv/

# Игнорируем конфигурационные файлы с секретами

.env
.env.py

# Игнорируем временные файлы и кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Игнорируем системные файлы IDE
.idea/
.vscode/